.categories {
	overflow: hidden;
	margin-top: 10px;
}

.categories .container-fluid {
	padding-right: 5px;
}

.categories__item {
	height: 208px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 30px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.categories__item.categories__large__item {
	height: 440px;
	padding-left: 10px;
}

.categories__item.categories__large__item .categories__text {
	max-width: 410px;
}

.categories__item.categories__large__item .categories__text p {
	margin-bottom: 15px;
}

.categories__text h1 {
	font-family: "Cookie", cursive;
	color: #111111;
	margin-bottom: 5px;
	font-size: 60px;
}

.categories__text h4 {
	color: #111111;
	font-weight: 700;
	display: none;
}

.categories__text p {
	margin-bottom: 10px;
}

.categories__text a {
	font-size: 14px;
	color: #111111;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	padding: 0 0 3px;
	display: inline-block;
	background: unset !important;
}

.categories__text a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #ca1515;
	content: "";
}


.trend {
	padding-top: 80px;
	padding-bottom: 50px;
}

.trend__content .section-title h4 {
	font-size: 20px;
}

.trend__content .section-title h4:after {
	bottom: -6px;
}

.trend__item {
	overflow: hidden;
	margin-bottom: 35px;
}

.trend__item__pic {
	width: 100%;
	height: 195px;
}

.trend__item__pic img {
	width: 100%;
	height: 100%;
}

.trend__item__text {
	overflow: hidden;
}

.trend__item__text h6 {
	font-size: 14px;
	color: #111111;
	margin-bottom: 5px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.trend__item__text .rating {
	line-height: 18px;
	margin-bottom: 6px;
}

.trend__item__text .rating i {
	font-size: 10px;
	color: #e3c01c;
	margin-right: 5px;
}

.trend__item__text .rating i:last-child {
	margin-right: 0;
}

.trend__item__text .product__price {
	color: #111111;
	font-weight: 600;
}

.trend__item {
	border: 1px solid #cbcbcb;
	background: #ebebeb;
	padding: 15px;
	margin: 10px;
	border-radius: 6px;
	box-shadow: 3px 3px 7px 0px #0000001a;
}

.product__hover {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.product__hover li a span {
	font-size: 14px;
}

.product__hover li a {
	font-size: 18px;
	color: #111111;
	display: block;
	height: 35px;
	width: 35px;
	background: #ffffff;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	margin: 0px 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product__hover {
	margin-bottom: -100px;
	transition: 0.3s;
}

.trend__item:hover .product__hover {
	margin-bottom: 0;
	margin-top: -20px;
}



.product__hover li:hover a {
	background: #ca1515;
}

.product__hover li:hover a span {
	color: #ffffff;
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}