.ProductDetails {
    background: #ffffff;
    margin: 0px 10px;
    border-radius: 5px;
    
}

.Price {
    font-weight: 600;
    color: rgb(0, 112, 204);
    font-size: 16px;
}

.media_box {
    border: 1px solid #cfc29f !important;
    border-right: 0;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 18px;
    background: #faedcb;
}

.ProductIMG {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.ProductsShortIMG img {
    width: 90px;
    height: 75px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
}

.stars svg {
    color: #ffbb00;
    font-size: 12px;
    width: 16px;
}

.tabs--style-2 .nav-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 0 20px;
    margin: 0;
}

.product_content p {
    padding: 5px 0px;
    border-bottom: 1px solid #e1e0e0;
    margin: 10px 0px;
}

.product-desc-tab {
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.ProductIMGList img {
    background: #fff;
    padding: 12px;
    border-radius: 5px;
    width: 109px;
    height: 100px;
    box-shadow: 3px 3px 5px #0000004f;
}


.cta-section a {
    color: #000 !important;
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
}

.cta-section a:hover {
    opacity: 0.8
}

.card-body p {
    line-height: 1.1;
}