.Price {
    font-weight: 600;
    color: rgb(0, 112, 204);
}

.media_box {
    border: 1px solid #cfc29f !important;
    border-right: 0;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 18px;
    background: #faedcb;
}

.ProductIMG {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.ProductsShortIMG img {
    width: 90px;
    height: 75px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
}