.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button {
  display: flex;
  background: transparent;
  box-shadow: 0 0 0 2px #fff;
  clear: both;
  color: #646464;
  border: 2px solid #646464;
  padding: 6px 30px;
  border-radius: 40px;
  font-size: 14px;
  transition: 0.3s;
}

.button:hover {
  border-color: #ee1c25;
  color: #ee1c25;
}

button i {
  font-size: 28px;
  margin: -7px;
}

button i:hover {
  color: #5b5b5b !important;
}

#share i {
  color: #eab308;
}

.productList {
  background: #fff6df;
  padding: 25px 30px;
  margin-bottom: 30px;
}
